

.row{
	width: 100%;
	display: flex;
}
.col-1{
	width: 20%;
}
.col-2{
	width: 80%;
}
.head{
	font-family: 'Lato', sans-serif;
	text-align: right;
	margin-right: 35px;
}
.subhead{
	font-family: 'Lato', sans-serif;
	text-align: right;
	margin-right: 60px;
}
.featured{
	font-family: 'Open Sans Condensed', sans-serif;
}
.row2{
	width: 100%;
	display: flex;
}
.appify{
	width: 33%;
	display: flex;
}
.sunflower{
	width: 33%;
	display: flex;
}
.bokeh{
	width: 34%;
}
.table{
	font-family: 'Arvo', serif;
}
@media only screen and (max-width: 500px)
{
	p{
		display: none;
	}
}