*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
@media only screen and (max-width: 500px){
	p{
		display: none;
	}
}
*{
	font-family: 'Lato', serif;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.row{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-left: 275px;
	padding: 20px;
}
.row1{
	width: 100%;
	margin-left: 275px;
	padding: 20px;
}
.featured{
	width: 100%
	display: flex;
	flex-wrap: wrap;
	margin-left: 275px;
	padding: 20px;
}
.columns{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-right: 55px;

}
.followme{
	width: 100%;
	margin-left: 0px;
	padding: 20px;
}
.soical{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 450px;
	margin-left: 750px;
}
.quote{
	width: 100%;
	margin-left: 275px;
	padding: 20px;
}
.copyright{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-left: 200px;
	padding: 20px;
}
.image{
	max-width: 3000px;
	margin-right: 300px;
	padding: 2px;
}
.image1{
	margin-left: 53px;

}
.image2{
	margin-left: -50px;
}
.imdes{
	display: flex;

}
hr{
   border: 1px solid #747704;
}
.col-6{
	width: 50.00%;
}
.col-4{
	width: 33.33%;
	margin-left: -50px;
}
h1{
	font-size: 225%;
}
h4{
	font-size: 225%;
}
h2{
	color: grey;
	font-size: 250%;
}
h5{
	font-size: 175%;
}
.h3fea1{
	margin: 70px;
	margin-left: 10px;
}
.h3fea2{
margin: 70px;
margin-left: 200px;
}
.h3fea3{
margin: 70px;
margin-left: 225px;
}
.describ{
	margin-left: 50px;
	margin-right: 600px;
}
.git{
	margin-right: 50px;
}
.fb{

}
.insta{
	margin-left: 25px;
	margin-right: 50px;
}
.quora{
	margin-right: 50px;
}
.linkedin{
	margin-right: 50px;
}
.gplus{
	margin-right: 50px;
}
